.image {
    width: 250px;
    height: 250px;

    /* border: 5px solid red;
    padding: 10px;
    margin: 50px; */
}
table,
th,
td {
    border: 3px solid rgb(64, 106, 146);
    border-collapse: collapse;
    color:burlywood;
    position: relative;
    left: 100px;
    padding: 10px;
}